@charset "UTF-8";
/*------------VARIABLES------------*/
/*--------SECCIONES--------*/
* {
  margin: 0;
  padding: 0;
  margin-top: 0;
  padding-bottom: 0;
  color: white;
  font-family: 'Poppins', sans-serif; }

header {
  background-color: black; }

body {
  background-color: black;
  width: 100vw;
  overflow-x: hidden; }

/* ---------------------------- CONTAINER GENERAL -------------------------*/
.gridbox {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "nav" "main" "footer"; }

.totem {
  grid-area: nav; }

.item2 {
  grid-area: main; }

.item3 {
  grid-area: footer; }

.title5 {
  font-size: 3rem;
  font-weight: 500; }

/*--------------nav ---------------------/*/
.item1 {
  display: grid;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  margin-bottom: 40px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 50px;
  grid-template-areas: "logo ancord"; }

.logo {
  margin-left: 20px;
  grid-area: logo; }

.logo img {
  width: 80px;
  height: 70px;
  border-radius: 50%; }

.ancord {
  margin-top: 10px;
  grid-area: ancord;
  display: inline-block;
  padding: 5px; }

.ancord a {
  text-decoration: none;
  color: white; }

.ancord a:hover {
  color: antiquewhite; }

/* ----------------------------------- SECCION FOOTER ------------------------------*/
.footer1 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr, 1fr;
  grid-row-gap: 20px;
  justify-items: center; }

.redes-sociales {
  display: flex;
  flex-direction: row; }

.map:hover {
  transform: scale(2); }

.index-h5 {
  font-size: 2rem;
  margin: 30px;
  text-align: center; }

/*/ -------------------------------------------       GALERIA        ---------------------------     /*/
.container-galeria {
  margin: 60px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, 500px);
  grid-template-areas: "image1 image2 image2" "image1 image3 image4" "image1 image3 image4" "image5 image5 image4";
  justify-content: stretch;
  align-content: stretch;
  grid-row-gap: 10px;
  grid-column-gap: 10px; }

.image1 {
  grid-area: image1; }

.image1 img {
  object-position: 60% 75%; }

.image2 {
  grid-area: image2; }

.image3 {
  grid-area: image3; }

.image3 img {
  object-position: 90% 75%; }

.image4 {
  grid-area: image4; }

.image5 {
  grid-area: image5; }

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.index-h3 {
  font-size: 2rem;
  margin: 30px;
  text-align: center; }

/*/ ----------------------------------------- FIN DE GALERIA --------------------------  /*/
/*/ ----------------------------------------- SECCION FAQ ---------------------------/*/
.white {
  background-color: white;
  margin-top: 20px;
  padding-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 5px; }

.container-quesionList {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat 3, 200px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  background-color: white; }

.txcontenedor {
  padding: 10px;
  border: 1px solid;
  justify-self: stretch;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black; }

.text {
  text-align: center;
  background-color: white;
  font-size: 1rem;
  color: black; }

.text span {
  color: black;
  background-color: white;
  font-size: 1rem; }

.index-h2 {
  font-size: 2rem;
  margin: 30px;
  text-align: center; }

/*-----------------------SECCION QUIENES SOMOS -----------------*/
.container-quienessomos {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 550px;
  grid-template-areas: "text img";
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 50px;
  margin-left: 50px;
  align-items: end; }

.quienessomosdoc1 {
  grid-area: img; }

.quienessomosdoc1 img {
  object-fit: cover;
  width: 100%; }

.quienessomosdoc2 {
  grid-area: text;
  display: flex;
  flex-direction: column; }

.quienessomosdoc2 p {
  padding-bottom: 30px;
  font-size: 2rem; }

.title {
  position: absolute;
  top: 250px;
  left: 60px;
  font-weight: 500;
  font-size: 90px;
  border: solid 6px;
  font-family: 'Righteous', cursive;
  color: brown; }

/* ----------------------------------- SECCION ARTICULOS ------------------------------ */
#articulos {
  margin: 90px; }
  #articulos a {
    color: white !important;
    font-weight: 900;
    font-size: 5rem !important; }
  #articulos a:hover {
    color: blanchedalmond;
    filter: grayscale(100%);
    text-align: justify; }
  #articulos .dog-articule {
    width: 100%;
    height: px;
    max-height: 1000px;
    object-fit: cover; }
  #articulos .articule-des {
    font-size: 2em;
    font-weight: 900; }
  #articulos .index-h4 {
    font-size: 2rem;
    margin: 30px;
    text-align: center; }

/*----ESTRATEGIA RESPONSIVE-------*/
/*----------------------ESTRATEGIA RESPONSIVE: MOBILE LAST ------------*/
/* --------------------- DISPOSITIVOS MEDIANOS -----------------------*/
@media screen and (max-width: 768px) {
  .gridbox {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "nav" "main" "footer"; }
  .totem {
    grid-area: nav; }
  .item2 {
    grid-area: main; }
  .item3 {
    grid-area: footer; }
  .container-quienessomos {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 80vw;
    grid-template-rows: auto;
    grid-template-areas: "img" "text";
    grid-row-gap: 30px;
    align-items: center; }
  .title {
    position: absolute;
    top: 220px;
    left: 30px;
    font-weight: 500;
    font-size: 60px;
    border: solid 3px;
    color: red;
    font-family: 'Righteous', cursive; }
  /*-------------------------SECCION GALERIA---------------------*/
  .container-galeria {
    margin: 20px;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(5, 500px);
    grid-template-areas: "image1" "image2" "image3" "image4" "image5";
    justify-content: stretch;
    align-content: stretch;
    grid-row-gap: 10px;
    grid-column-gap: 10px; }
    .container-galeria .image1 {
      grid-area: image1; }
    .container-galeria .image1 img {
      object-position: 60% 15%; }
    .container-galeria .image2 {
      grid-area: image2; }
    .container-galeria .image3 {
      grid-area: image3; }
    .container-galeria .image3 img {
      object-position: 90% 5%; }
    .container-galeria .image4 {
      grid-area: image4; }
    .container-galeria .image4 img {
      object-position: 90% 25%; }
    .container-galeria .image5 {
      grid-area: image5; }
    .container-galeria .cover {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  /*------------------------SECCION ARTICULOS--------------------*/
  #articulos {
    margin: 40px; }
  .dog-articule {
    width: 100%;
    height: px;
    max-height: 1000px;
    object-fit: cover; }
  .articule-des {
    font-size: 2em;
    font-weight: 900; } }

/* --------------------- DISPOSITIVOS PEQUEÑOS -------------------------*/
@media screen and (max-width: 480px) {
  * {
    padding: 0;
    margin: 0; }
  .gridbox {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "nav" "main" "main" "main" "main" "footer"; }
  .totem {
    grid-area: nav; }
  .item2 {
    grid-area: main; }
  .item3 {
    grid-area: footer; }
  .container-quienessomos {
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: auto;
    grid-template-areas: "img" "text";
    align-items: center; }
  .quienessomosdoc1 {
    grid-area: img;
    align-self: center; }
  .quienessomosdoc1 img {
    object-fit: cover; }
  .quienessomosdoc2 {
    grid-area: text;
    align-self: center; }
  .quienessomosdoc2 p {
    font-size: 2rem; }
  .title {
    position: absolute;
    top: 190px;
    left: 40px;
    font-weight: 500;
    font-size: 50px;
    border: solid 3px;
    color: red;
    font-family: 'Righteous', cursive; }
  /*---- galeria---*/
  .container-galeria {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(5, 300px);
    grid-template-areas: "image1" "image2" "image3" "image4" "image5";
    justify-content: center;
    align-content: center;
    grid-row-gap: 10px; }
  .image1 {
    grid-area: image1; }
  .image1 img {
    object-position: 50% 25%; }
  .image2 {
    grid-area: image2; }
  .image3 {
    grid-area: image3; }
  .image3 img {
    object-position: 130% 65%; }
  .image4 {
    grid-area: image4; }
  .image4 img {
    object-position: 100% 20%; }
  .image5 {
    grid-area: image5; }
  .cover {
    width: 100%;
    object-fit: fit; }
  /* ---------SECCION ARTICULOS ------*/
  #articulos {
    margin: 20px; }
  .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 50%;
    transform: scale(1); }
  .dog-articule {
    width: 100%;
    height: px;
    max-height: 1000px;
    object-fit: fit; }
  .articule-des {
    font-size: 2em;
    font-weight: 900; }
  .ancord2 a:hover {
    color: blanchedalmond;
    filter: grayscale(100%);
    text-align: justify; }
  .map:hover {
    transform: none; }
  /* -----------SECCION FAQ -----*/
  .white {
    background-color: white;
    margin-top: 20px;
    padding-top: 5px;
    margin-bottom: 20px;
    padding-bottom: 5px; }
  .container-quesionList {
    display: grid;
    grid-template-columns: 100%;
    background-color: white; }
  .txcontenedor {
    border: 1px solid;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black; }
  .text {
    text-align: center;
    background-color: white;
    font-size: 1rem;
    color: black; }
  .text span {
    color: black;
    background-color: white;
    font-size: 1rem; } }

/* -------------- 1023 px ---------------------------------*/
@media screen and (min-width: 768px) {
  .container-quienessomos {
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: auto;
    grid-template-areas: "img" "text";
    grid-row-gap: 80px;
    align-items: center; }
  .title {
    position: absolute;
    top: 500px;
    left: px;
    font-weight: 500;
    font-size: 80px;
    border: solid 3px;
    color: red;
    font-family: 'Righteous', cursive; } }

/* ----------------- FIN DE ESTRUCTURA RESPONSIVE-----------*/
/*-----PAGINAS--------*/
/* NAVBAR */
.header-page2 {
  width: 100vw; }

.header-nav {
  height: 60px;
  background-color: black !important; }
  .header-nav img {
    border-radius: 50%; }
  .header-nav a {
    color: white !important;
    font-weight: 400; }

a:hover {
  color: antiquewhite !important; }

.badge a:hover {
  color: red !important; }

/*----------------------------------ESCAPARATE------------------------------------*/
.contenedor-imagen-pancarta, .pelu-dog1 {
  height: 400px;
  width: 100vw;
  background-image: url(/images/imagen-13.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.picturesign {
  width: 100vw;
  object-fit: cover; }

container-articulos-paginas {
  margin: 30px 5px 30px 5px; }

.textoDearticulo {
  font-size: 2rem; }

/*------------------------------------PARRAFO---------------------------------------*/
.paragraph {
  width: 100vw; }
  .paragraph p {
    font-size: 1.5rem; }

paragraph-contenedor {
  margin-bottom: 30px; }

.pelu-h3, .pelu-h4 {
  padding: 20px;
  text-transform: uppercase;
  font-size: 2.5rem;
  width: auto;
  font-weight: 700;
  color: #252525;
  margin: 30px;
  text-align: center;
  background-color: #bebaba; }

.pelu-list {
  font-size: 1.5rem;
  letter-spacing: normal; }
  .pelu-list li {
    margin: 30px; }

.pelu-dog1 {
  width: 100%;
  background-image: url(/images/imagen-15.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 200px bottom 20px; }

.title-section {
  position: absolute;
  top: 220px;
  left: 30px;
  font-weight: 500;
  font-size: 60px; }

/*-----------------------------Aside----------------------------------------------*/
.pelu-h5 {
  display: flex;
  width: auto;
  background-color: #f3a113;
  color: #fff;
  border: #fff solid;
  width: auto;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 900;
  margin: 20px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 2rem; }

.pelu-escritora {
  border-radius: 50%; }

/*-------NEWSLETTER--------------*/
.bg-image {
  width: 100%;
  height: 100vh; }

.contenedor-form {
  display: flex;
  width: 100vw; }

.bg-image {
  background-color: black;
  height: 100vh; }

.formulario {
  width: 50vw;
  position: absolute;
  top: 300px;
  left: 290px;
  color: white; }

.formulario label {
  color: #f4f1f1;
  font-weight: 900; }

.formulario div {
  color: #fff;
  font-weight: 900; }

.press {
  display: inline-block;
  padding-left: 1rem; }

.container-pio {
  height: 300px; }

/*------------------NEWSLETTER 2--------------*/
p {
  color: #fff; }

.container-fluid2 {
  width: 100%;
  display: flex; }

.container {
  width: auto !important;
  margin: 0 40px;
  padding: 20px; }

.center {
  text-align: center; }

.black {
  background-color: #252525; }

.parallax {
  height: 700px;
  background-image: url(/images/imagen-13.jpg);
  background-size: cover;
  background-attachment: fixed; }

.card-title {
  color: black !important;
  font-weight: 900;
  font-size: 1.7rem;
  letter-spacing: 1;
  text-transform: uppercase; }

.card-text {
  color: black;
  font-size: 0.5rem; }
