@charset "UTF-8";
/*--------------nav ---------------------/*/
.item1 {
  display: grid;
  position: fixed;
  top: 0px;
  width: 100%;
  margin-bottom: 40px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 50px;
  grid-template-areas: "logo ancord"; }

.logo {
  margin-left: 20px;
  grid-area: logo; }

.logo img {
  width: 80px;
  height: 70px;
  border-radius: 50%; }

.ancord {
  margin-top: 10px;
  grid-area: ancord;
  display: inline-block;
  padding: 5px; }

.ancord a {
  text-decoration: none; }

.ancord a:hover {
  color: antiquewhite; }

/* ----------------------------------- SECCION FOOTER ------------------------------*/
.footer1 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr, 1fr;
  grid-row-gap: 20px;
  justify-items: center; }

.redes-sociales {
  display: flex;
  flex-direction: row; }

.map:hover {
  transform: scale(2); }

/*/ -------------------------------------------       GALERIA        ---------------------------     /*/
.container-galeria {
  margin: 60px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, 500px);
  grid-template-areas: "image1 image2 image2" "image1 image3 image4" "image1 image3 image4" "image5 image5 image4";
  justify-content: stretch;
  align-content: stretch;
  grid-row-gap: 10px;
  grid-column-gap: 10px; }

.image1 {
  grid-area: image1; }

.image1 img {
  object-position: 60% 75%; }

.image2 {
  grid-area: image2; }

.image3 {
  grid-area: image3; }

.image3 img {
  object-position: 90% 75%; }

.image4 {
  grid-area: image4; }

.image5 {
  grid-area: image5; }

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*/ ----------------------------------------- FIN DE GALERIA --------------------------  /*/
/* -------------------SEGUNDA PAGINA -----------------------*/
.navbar2 {
  margin: 0;
  grid-area: Nav;
  display: grid;
  background-color: black;
  position: fixed;
  top: 0px;
  width: 100%;
  margin-bottom: 40px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 50px;
  grid-template-areas: "logo ancord"; }

.fotoPage {
  width: 100%;
  object-fit: cover;
  grid-area: img2; }

/*/ ----------------------------------------- SECCION FAQ ---------------------------/*/
.white {
  background-color: white;
  margin-top: 20px;
  padding-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 5px; }

.container-quesionList {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat 3, 200px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  background-color: white; }

.txcontenedor {
  padding: 10px;
  border: 1px solid;
  justify-self: stretch;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black; }

.text {
  text-align: center;
  background-color: white;
  font-size: 1rem;
  color: black; }

.text span {
  color: black;
  background-color: white;
  font-size: 1rem; }

/*-----------------------SECCION QUIENES SOMOS -----------------*/
.container-quienessomos {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 550px;
  grid-template-areas: "text img";
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 50px;
  margin-left: 50px;
  align-items: end; }

.quienessomosdoc1 {
  grid-area: img; }

.quienessomosdoc1 img {
  object-fit: cover;
  width: 100%; }

.quienessomosdoc2 {
  grid-area: text;
  display: flex;
  flex-direction: column; }

.quienessomosdoc2 p {
  padding-bottom: 30px;
  font-size: 1rem; }

.title {
  position: absolute;
  top: 250px;
  left: 60px;
  font-weight: 500;
  font-size: 90px;
  border: solid 6px;
  font-family: 'Righteous', cursive;
  color: brown; }

/* ----------------------------------- SECCION ARTICULOS ------------------------------ */
.articulos {
  display: grid;
  margin: 20px;
  margin-bottom: 100px;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 5px; }

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 50%;
  transform: scale(1); }

.ancord2 a:hover {
  color: blanchedalmond;
  filter: grayscale(100%);
  text-align: justify; }

/*----------------------ESTRATEGIA RESPONSIVE: MOBILE LAST ------------*/
/* --------------------- DISPOSITIVOS MEDIANOS -----------------------*/
@media screen and (max-width: 768px) {
  .gridbox {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "nav" "main" "footer"; }
  .totem {
    grid-area: nav; }
  .item2 {
    grid-area: main; }
  .item3 {
    grid-area: footer; } }

/* --------------------- DISPOSITIVOS PEQUEÑOS -------------------------*/
@media screen and (max-width: 480px) {
  * {
    padding: 0;
    margin: 0; }
  .gridbox {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "nav" "main" "main" "main" "main" "footer"; }
  .totem {
    grid-area: nav; }
  .item2 {
    grid-area: main; }
  .item3 {
    grid-area: footer; }
  .container-quienessomos {
    display: grid;
    margin-top: 60px;
    grid-template-columns: 80vw;
    grid-template-rows: auto;
    grid-template-areas: "img" "text"; }
  .quienessomosdoc1 {
    grid-area: img;
    align-self: center; }
  .quienessomosdoc1 img {
    object-fit: cover; }
  .quienessomosdoc2 {
    grid-area: text;
    align-self: center; }
  .quienessomosdoc2 p {
    font-size: 2rem; }
  .title {
    position: absolute;
    top: 200px;
    left: 40px;
    font-weight: 900;
    font-size: 50px;
    z-index: 1;
    border: solid 3px;
    color: red;
    font-family: 'Righteous', cursive; }
  /*---- galeria---*/
  .container-galeria {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(5, 300px);
    grid-template-areas: "image1" "image2" "image3" "image4" "image5";
    justify-content: center;
    align-content: center;
    grid-row-gap: 10px; }
  .image1 {
    grid-area: image1; }
  .image1 img {
    object-position: 60% 75%; }
  .image2 {
    grid-area: image2; }
  .image3 {
    grid-area: image3; }
  .image3 img {
    object-position: 90% 75%; }
  .image4 {
    grid-area: image4; }
  .image5 {
    grid-area: image5; }
  .cover {
    width: 100%;
    object-fit: cover; }
  /* ---------SECCION ARTICULOS ------*/
  .articulos {
    display: grid;
    margin: 20px;
    margin-bottom: 100px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 30px; }
  .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 50%;
    transform: scale(1); }
  .ancord2 a:hover {
    color: blanchedalmond;
    filter: grayscale(100%);
    text-align: justify; }
  .map:hover {
    transform: none; }
  /* -----------SECCION FAQ -----*/
  .white {
    background-color: white;
    margin-top: 20px;
    padding-top: 5px;
    margin-bottom: 20px;
    padding-bottom: 5px; }
  .container-quesionList {
    display: grid;
    grid-template-columns: 100%;
    background-color: white; }
  .txcontenedor {
    border: 1px solid;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black; }
  .text {
    text-align: center;
    background-color: white;
    font-size: 1rem;
    color: black; }
  .text span {
    color: black;
    background-color: white;
    font-size: 1rem; } }

/* ----------------- FIN DE ESTRUCTURA RESPONSIVE-----------*/
* {
  margin: 0;
  padding: 0;
  margin-top: 0;
  padding-bottom: 0;
  color: white;
  font-family: 'Poppins', sans-serif; }

header {
  background-color: black; }

body {
  background-color: black;
  width: 100vw;
  overflow-x: hidden; }

/* ---------------------------- CONTAINER GENERAL -------------------------*/
.gridbox {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "nav" "main" "footer"; }

.totem {
  grid-area: nav; }

.item2 {
  grid-area: main; }

.item3 {
  grid-area: footer; }

.picturesign {
  width: 100%;
  object-fit: cover; }

.picotoro {
  margin-top: 30px;
  margin-bottom: 30px; }

container-articulos-paginas {
  margin: 30px 5px 30px 5px; }

.textoDearticulo {
  font-size: 2rem; }

.paragraph p {
  font-size: 1.5rem; }

paragraph-contenedor {
  margin-bottom: 30px; }
