/* ----------------------------------- SECCION ARTICULOS ------------------------------ */
#articulos {
    margin: 20px;
    margin-bottom: 100px;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 5px;
    a {
        color: white!important;
        font-weight: 900;
        font-size: 5rem!important;
    }
    a:hover {
        color: blanchedalmond;
        filter: grayscale(100%);
        text-align: justify;
    }
}
 

