/* ----------------------------------- SECCION ARTICULOS ------------------------------ */
#articulos {
    margin: 90px;
    a {
        color: white!important;
        font-weight: 900;
        font-size: 5rem!important;
    }
    a:hover {
        color: blanchedalmond;
        filter: grayscale(100%);
        text-align: justify;
    }
    .dog-articule {
        width: 100%;
        height: px;
        max-height: 1000px;
        object-fit: cover;
    }
    .articule-des {
        font-size: 2em;
        font-weight: 900;
    }
    .index-h4 {
        font-size: 2rem;
        margin: 30px;
        text-align: center;
    }
}

 

