/* ----------------------------------- SECCION FOOTER ------------------------------*/
.footer1 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr, 1fr;
    grid-row-gap: 20px;
    justify-items: center;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
}
.index-h5 {
    font-size: 2rem;
    margin: 30px;
    text-align: center;
}
.index-findus {
    text-align: center;
}
.map {
   animation-duration: 4s; 
}
