/*/ -------------------------------------------       GALERIA        ---------------------------     /*/
.container-galeria {
    margin: 60px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, 500px);
    grid-template-areas:
        "image1 image2 image2"
        "image1 image3 image4"
        "image1 image3 image4"
        "image5 image5 image4";
    justify-content: stretch;
    align-content: stretch;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.image1 {
    grid-area: image1;
}

.image1 {
img {
    object-position: 60% 75%;
}
}
.image2 {
    grid-area: image2;

}

.image3 {
    grid-area: image3;
}
.image3 {
    img {
    object-position: 90% 75%;
}
}
.image4 {
    grid-area: image4;

}

.image5 {
    grid-area: image5;

}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.index-h3 {
    font-size: 2rem;
    margin: 30px;
    text-align: center;
}

/*/ ----------------------------------------- FIN DE GALERIA --------------------------  /*/