/* -------------------SEGUNDA PAGINA -----------------------*/

.navbar2 {
margin: 0;
grid-area: Nav;
display: grid;
background-color: black;
position: fixed;
top: 0px;
width: 100%;
margin-bottom: 40px;
grid-template-columns: repeat(2, 50%);
grid-template-rows: 50px;
grid-template-areas:
    "logo ancord";
}
.fotoPage {
width: 100%;
object-fit: cover;
grid-area: img2;
}
