$text-size1: 2rem;
$text-size2: 1.5rem;

/*----------------------------------ESCAPARATE------------------------------------*/
.contenedor-imagen-pancarta {
    height: 800px;
    width: 100vw;
    background-image: url(https://res.cloudinary.com/djszx4hkw/image/upload/v1677874286/dogs/imagen-13_vecrhk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.picturesign {
    width: 100vw;
    object-fit: cover;
}



container-articulos-paginas {
    margin: 30px 5px 30px 5px;
}

.textoDearticulo {
    font-size: $text-size1;
}

/*------------------------------------PARRAFO---------------------------------------*/
.paragraph {
    width: 100vw;

    p {
        font-size: $text-size2;
    }
}

paragraph-contenedor {
    margin-bottom: 30px;
}

.pelu-h3 {
    padding: 20px;
    text-transform: uppercase;
    font-size: 2.5rem;
    width: auto;
    font-weight: 700;
    color: #252525;
    margin: 30px;
    text-align: center;
    background-color: rgb(190, 186, 186);
}

.pelu-h4 {
    @extend .pelu-h3
}

.pelu-list {
    font-size: 1.5rem;
    letter-spacing: normal;

    li {
        margin: 30px;
    }
}

.pelu-dog1 {
    height: 600px;
    width: 100%;
    background-image: url(https://res.cloudinary.com/djszx4hkw/image/upload/v1677874286/dogs/imagen-15_lxfg33.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title-section {
    position: absolute;
    top: 220px;
    left: 30px;
    font-weight: 500;
    font-size: 60px;
}

/*-----------------------------Aside----------------------------------------------*/

.pelu-h5 {
    display: flex;
    width: auto;
    background-color: rgb(243, 161, 19);
    color: #fff;
    border: #fff solid;
    width: fit-content;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 900;
    margin: 30px;
    padding: 5px;
    text-transform: uppercase;
    font-size: $text-size1;
}

.pelu-escritora {
    margin: 40px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*-------NEWSLETTER--------------*/


.bg-image {
    width: 100%;
    height: 100vh;
}

.contenedor-form {
    display: flex;
    width: 100vw;

}

.bg-image {
    background-color: black;
    height: 100vh;
}

.formulario {
    width: (100vw/2);
    position: absolute;
    top: 300px;
    left: 290px;
    color: white;
}

.formulario {
    label {
        color: rgb(244, 241, 241);
        font-weight: 900;
    }

    div {
        color: #fff;
        font-weight: 900;
    }
}

.press {
    display: inline-block;
    padding-left: 1rem;
}

.container-pio {
    height: 300px;
}

/*------------------NEWSLETTER 2--------------*/
p {
    color: #fff;
}

.container-fluid2 {
    width: 100%;
    display: flex;
}


.container {
    width: auto !important;
    margin: 0 40px;
    padding: 20px;
}

.center {
    text-align: center;
}

.black {
    background-color: #252525;
}

.parallax {
    height: 700px;
    background-image: url(https://res.cloudinary.com/djszx4hkw/image/upload/v1677874286/dogs/imagen-13_vecrhk.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.card-title {
    color: black !important;
    font-weight: 900;
    font-size: 1.7rem;
    letter-spacing: 1;
    text-transform: uppercase;
}

.card-text {
    color: black;
    font-size: 0.5rem;
}
.card {
    margin-top: 30px;
    a {
       text-decoration: none 
    }
    :hover {
        background-color: rgb(195, 147, 78);
        color: rgb(243, 240, 236)
    }
}
/*----------------------------------------------ADIESTRAMIENTO------------------------------*/
.contenedor-imagen-pancarta-adiestramiento {
    @extend .contenedor-imagen-pancarta;
    background-image: url(https://res.cloudinary.com/djszx4hkw/image/upload/v1677874286/dogs/imagen-12_ir3qrp.jpg);
    height: 800px;
    background-size: cover
}
/*----------------------------------------------PREMIOS-------------------------------------*/
.contenedor-imagen-pancarta-premios {
    @extend .contenedor-imagen-pancarta;
    width: 100%;
    height: 800px;
    background-image: url(https://res.cloudinary.com/djszx4hkw/image/upload/v1677874285/dogs/imagen-17_q2r7f4.jpg);
    background-size: cover;
}
.picotoro {
    width: 100vw;
}
.premios-dog1 {
    @extend .pelu-dog1;
    background-image: url(https://res.cloudinary.com/djszx4hkw/image/upload/v1677874285/dogs/imagen-14_o9c0sq.jpg);
}