$text-size1: 2rem;
$text-size2: 1.5rem;
.picturesign {
    width: 100%;
    object-fit: cover;
}
.picotoro {
    margin-top: 30px;
    margin-bottom: 30px;
}
container-articulos-paginas {
    margin: 30px 5px 30px 5px;
}
.textoDearticulo {
    font-size: $text-size1;
}
.paragraph {
    p {
        font-size: $text-size2;
    }
}
paragraph-contenedor {
    margin-bottom: 30px;
 }