/* NAVBAR */
.header-page2 {
    width: 100vw;
    
}
.header-nav {
    height:70px;
    background-color: black !important;
    img {
        border-radius: 50%;
    }
    a {
        color: white!important;
        font-weight: 400;
    }
}
a:hover {
    color:antiquewhite!important;
}
