$text-size1: 2rem;
$text-size2: 1.5rem;
.picturesign {
    width: 100%;
    object-fit: cover;
}
.picotoro {
    margin-top: 30px;
    margin-bottom: 30px;
}
container-articulos-paginas {
    margin: 30px 5px 30px 5px;
}
.textoDearticulo {
    font-size: $text-size1;
}
.paragraph {
    p {
        font-size: $text-size2;
    }
}
paragraph-contenedor {
    margin-bottom: 30px;
 }
 .title-section {
    top: 220px;
    left: 30px;
    font-weight: 500;
    font-size: 60px;
 }
 .bg-image {
    background-image: url(/images/imagen-12.jpg);
    opacity: 0,2;
 }
 .formulario {
    width: (100vw/2);
 }
 .press {
    display: inline-block;
    padding-left: 1rem;
 }